<html>
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">

        <input type="text" name="description" placeholder="Введите заметку" >
        <input type="text" name="tag" placeholder="Тэг">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить заметку</button>

    </form>
</div>
<div>Список сообщений</div>
<form method="post" action="/filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Найти</button>
</form>

{{#messages}}
    <div id="item">
        <input type="hidden" value="{{id}}"><br>
        {{description}}<br>
        #{{tag}}<br>
        <div id="getAuthor">Пользователь: <strong>{{authorName}}</strong></div>
    </div>
{{/messages}}
<table>
    <tr>
        <th>id</th>
        <th>Description</th>
        <th>User</th>
    </tr>
    {{#messages}}

        <tr>
            <td>{{id}}</td>
            <td>{{description}}</td>
            <td><i>{{tag}}</i></td>
        </tr>

    {{/messages}}
</table>
</body>

</html>